@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded{
    // @include media-breakpoint-down(sm) {
    //     display: none;
    // }
    position: relative;
    padding: 0.9375rem 4.375rem 0.9375rem 1.25rem;
    font-weight: 700;
    color: rgba($terra-cotta, 1);
    margin: 0;
    border: 0.1rem solid rgba($terra-cotta, 1);

    span {
        position: absolute;
        background-color: $terra-cotta;
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        border-radius: 50%;
    

    i {
        color: rgba($platinum, 1);
        font-size: 1rem;
        line-height: 2.5rem;
    }
}

    &:hover {
        // @include gradient;
        background: $terra-cotta;
        color: rgba($platinum, 1);

        i {
            color: rgba(rgba($terra-cotta, 1), 1);
        }

        span {
            background-color: rgba($platinum, 1);
        }
    }
}